$BODY_BACKGROUND: #ebebeb;
$BODY_COLOR: #333;


// LIST

// LIST ITEM
$LISTITEM_WIDTH: 192px;
$LISTITEM_HEIGHT: 144px;


// COLORS
$red: #E73849;
$blue: #09c3f2;
$green: #7AC043;
$purple: #7536b5;
$orange: #f58236;